{% extends 'base.html' %}

{% block body %}


<div class="container">
    <center>
        <br>
        <h3>List of assets</h3>
        <br>

    </center>
    <table class="table table-borderless">
        <thread class="border-bottom font-weight-bold">
            <tr>
                <td>Name</td>
                <td>Date</td>
                <td>Category</td>
                <td>
                    <a href="/asset_form" class='btn btn-success'> Add New</a>
                </td>

            </tr>
        </thread>
        <tbody>
            {% for asset in  asset_list %}
            <tr>
                <td>{{asset.name}}</td>
                <td>{{asset.date}}</td>
                <td>{{asset.category}}</td>
                <form action="{% url 'asset_delete' employee.id %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="fa fa-trash-o"></i>
                </button>
                </form>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
    
{% endblock body %}