{% extends 'base.html' %}

{% block body %}


<div class="container">

    <center>
        <br>
        <h3>List of Employee</h3>
        <br>
    </center>
    <table class="table table-borderless">
        <thread class="border-bottom font-weight-bold">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>EMP code</td>
                <td>Position</td>
                <td>
                    <a href="/form" class='btn btn-success'> Add New</a>
                </td>

            </tr>

        </thread>
        <tbody>
            {% for employee in  employee_list %}
            <tr>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.emp_code}}</td>
                <td>{{employee.position}}</td>
                <td>
                    <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </form>
                </td>
            </tr>


            {% endfor %}
        </tbody>



    </table>
</div>


{% endblock body %}