{% extends 'base.html' %}

{% block body %}

<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Employee </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_employee}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Companies</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_company}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo odit, at error dolorum veniam eaque architecto.
    Consectetur voluptas, pariatur minus reprehenderit porro iusto dolores, neque culpa dolorum tenetur nihil rem fugiat
    temporibus beatae quidem impedit sapiente, dolorem dicta illum itaque! Blanditiis laudantium error nostrum quam
    recusandae nisi ratione commodi omnis itaque! Nemo possimus quae laboriosam ducimus ipsa? Placeat odio deserunt
    incidunt eaque tempora nam doloremque impedit, voluptatibus quis nulla rerum fugit perspiciatis corporis facere
    ipsam qui quia? Perspiciatis quas saepe rem, minus fugiat iure nobis veritatis doloribus, repellat assumenda
    exercitationem reprehenderit quis placeat! Perspiciatis quo ea corrupti eligendi eaque aperiam ducimus in rerum
    consectetur, hic harum, deserunt possimus aliquid inventore porro dolores ab. Necessitatibus dolorem reiciendis
    amet. Totam, voluptatum magni esse dignissimos natus molestiae repudiandae, quaerat expedita officiis tempora
    praesentium aperiam! Consectetur eveniet facilis eum eius vero amet modi. Iste, cum dolore? Unde aperiam repellat
    quaerat. Impedit vero facere eum quidem, esse est similique ducimus? Nam minus molestias nobis doloremque, deleniti,
    accusamus ut, nostrum autem veniam consequuntur voluptate suscipit qui numquam fugiat! Quod, repellat. Alias, sit
    ad, optio ipsum debitis excepturi aliquid ducimus deleniti reprehenderit temporibus enim dicta quasi autem
    molestias, magni quisquam! Sint corrupti officiis, earum libero numquam deserunt commodi facilis autem reprehenderit
    perferendis vel? Eum assumenda placeat excepturi officia sed corporis repellat fugit aspernatur cum vitae, sequi ex,
    totam harum, ducimus doloremque doloribus distinctio aperiam laborum quaerat aut unde? Fugit labore iusto autem illo
    iste. Ipsam reprehenderit consequuntur error omnis neque saepe, dolorem repellat voluptatem provident unde autem
    porro mollitia, amet maiores quasi cum minima. Officia totam porro animi id ipsa debitis repellendus, suscipit quos
    nobis, beatae, veniam eveniet delectus dolorem dolore neque tempore cumque voluptatibus hic odit soluta ab eligendi!
    In dolorum nihil impedit suscipit? Ipsam corrupti vel iure adipisci quaerat tempore voluptatem tempora, quas in
    excepturi sunt suscipit impedit illo id cumque ut officia? Rem pariatur illo ullam aspernatur, dignissimos magni
    expedita nihil animi labore earum modi dolore nam excepturi nostrum eligendi omnis aut officia porro dolores placeat
    facilis, quia commodi at! Nostrum voluptatem fuga aliquid, officiis provident qui explicabo eum obcaecati,
    temporibus amet natus! Incidunt ipsam possimus nesciunt at! Totam quibusdam nisi dolorem magnam aliquid minima nemo
    veritatis est ullam corrupti modi eos aut exercitationem libero vitae impedit nam voluptates fuga doloribus
    pariatur, quo vel. Ducimus fugiat modi, doloribus perferendis minima itaque iure nisi veniam minus quaerat, vero at,
    odit autem similique voluptates! Sint dolorum aspernatur eaque nisi accusantium maxime, molestiae quam odio aut ipsa
    accusamus tempore ratione, incidunt itaque cupiditate dolores nulla culpa et inventore saepe veniam? Natus explicabo
    commodi, voluptatem odit voluptates aut officia sapiente repellat consectetur eum, pariatur ullam magnam ipsam
    dolores. A incidunt dignissimos alias iusto sapiente! Iste consequatur ducimus alias esse cumque non tenetur quas
    veniam numquam minus minima sint ipsam facere omnis accusamus corrupti aperiam, aspernatur perferendis! Eveniet
    animi fuga magni error incidunt numquam sapiente exercitationem ullam eos excepturi? Aliquid minus odit nobis esse
    commodi dicta possimus quasi, dolorem praesentium veritatis voluptates provident soluta consequatur assumenda.
    Voluptate, quam provident.
  </p>
</div>



{% endblock body %}