{% extends 'base2.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}


{% block content %}

<div class="row">

    <div class="container my-4">
        <h3 style="font-style: italic;" class="text-center">All you need to know about us</h3>
        <hr>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-8">
            <div id="profile"></div>
        </div>
            <hr>
            <div class="col-4">
            <div align="item-center" class="picture" id="image"></div>
        </div>
        </div>


        </div>
        <hr><br>
        <button class="btn btn-outline-success btn-lg float-right" id="next"><i class="fa fa-hand-o-right"></i> Next</button>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    console.log("Never");

// Data about us

const data = [

    {       
        name : 'Md. Mohsin Uddin',
        work: 'Instructor of the project',
        city : 'Lives in Dhaka',
        language: 'Research Interest: Machine learning, Natural Language Processing (NLP)',
        uni : 'Lecturer at East West University',
        linkedIn : 'Faculty of Computer Sciences and Engineering',
        github : 'Email: mmuddin@ewubd.edu ',
        image : '/static/images/sir.jpg'

    },

    {       
        name : 'Rakib Raihan Fahim',
        work:'Developer',
        city : 'Hometown: Khulna',
        language: 'Primariliy works on Python, Javascript, C, C++, HTML, CSS',
        uni : 'Student at East West University',
        linkedIn : 'LinkedIn: https://www.linkedin.com/in/rakib-raihan-fahim-967b7a176/',
        github : 'Github: https://github.com/RyanFahim',
        image : '/static/images/fahim.jpg'

    },
    {       
        name : 'Halima Begum',
        work:'Developer',
        city : 'Hometown: Bogra',
        language: 'Primariliy works on Python, Javascript, C, C++, HTML, CSS',
        uni : 'Student at East West University',
        linkedIn : 'https://www.linkedin.com/in/rakib-raihan-fahim-967b7a176/',
        github : 'https://github.com/RyanFahim',
        image : '/static/images/halum.jpg'

    }
]

function proIterator(profiles){
    let nextIndex = 0;
    return {
        next: function(){
            return nextIndex<profiles.length ?
            {value: profiles[nextIndex++], done: false}:
            {done: true}
        }
    };
}

// button for next developer
const developer = proIterator(data)
nextDevloper();

const next = document.getElementById('next');
next.addEventListener('click', nextDevloper);

function nextDevloper(){
    const currentDeveloper = developer.next().value;

    let image = document.getElementById('image');
    let profile = document.getElementById('profile');
    if(currentDeveloper != undefined){ 
    image.innerHTML = `<br><image src='${currentDeveloper.image}' style="border-radius: 100px;" >`;
    profile.innerHTML = `<ul class="list-group">
    <li class="list-group-item" style="background-color: #ECE4B8;"><h2>${currentDeveloper.name}</h2></li>
    <li class="list-group-item">${currentDeveloper.work}</li>
    <li class="list-group-item">${currentDeveloper.language}</li>  
    <li class="list-group-item">${currentDeveloper.uni}</li>
    <li class="list-group-item">${currentDeveloper.linkedIn}</li>
    <li class="list-group-item">${currentDeveloper.github}</li>
    <li class="list-group-item">${currentDeveloper.city}</li>
    
  </ul>`;
    }
    else {
        alert('End of the developers');
        window.location.reload();
    }
}

</script>
<!-- <script src="{%static 'css/about.js'%}"></script> -->
<!-- <script src="{% static "js/about.js" %}"></script> -->
{% endblock js %}